
.site-layout .site-layout-background {
  background: #5F9EA0;
}
  [data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
  }

.ant-menu{
  background: none;
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected, .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
  color: rgb(0, 0, 0);
  border-bottom: none !important;
}
.ant-avatar-lg.ant-avatar-icon {
  font-size: 10px;
}
